body {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  
}
.nav {
    background-color: rgb(47, 112, 166);
    overflow: hidden;
  }
  
 
.link_styles {
    float: left;
    color: #f2f2f2;

    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
    
    
  }
.link_styles:first-child {
    margin-left: 39.4%;
}
.link_styles:last-child {
    margin-right: 35%;
}
  
  
.link_styles:hover {
    
    animation: hover 0.5s linear 1 forwards;

  }
@keyframes hover {
    from {background-color: rgb(47, 112, 166);}
    to {background-color: #1f89d4;}
  }
  
  
#banner { 
    position: relative;
    background-repeat: no-repeat;
    border-top: rgb(47, 112, 166) 5px;
}
.team_photo {
  object-fit: contain;
  filter: grayscale(1) blur(2px);
  width: 100%;
  
}
.logo {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
  transform-origin: 40% 50%;
  filter: brightness(105%);
  transition: transform 1s linear;
}
.logo:hover {
  transform: translate(-50%, -50%) rotate(720deg) scale(1.25);
}
.title {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 54px;
  color: rgb(47, 112, 166);
  -webkit-text-stroke: 3px rgb(0, 0, 0);
  font-family: "Teachers", sans-serif;
  font-optical-sizing: auto;

  font-style: normal;
}

