/* css for home and nav */

body {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  background-color: #8ABAC7;
}
.nav {
    background-color: #2F70A6 ;
    overflow: hidden;
}
.nav-logo {
  width: 4%;
  height: auto;
  position: absolute;
  left: 48.25%;
  margin-top: 5px;
}
 
.link_styles {
    float: left;
    color: #f2f2f2;
    margin-top: 5px;
    text-align: center;
    padding: 18px 20px;
    text-decoration: none;
    font-size: 20px;
    
    
  }
.link_styles:first-child {
    margin-left: 31.5%;
}
.special_link {
  margin-right: 4%;
}
  
.link_styles:hover {
    
    animation: hover 0.5s linear 1 forwards;

  }
@keyframes hover {
    from {background-color: #2F70A6;}
    to {background-color: #1f89d4;}
  }
  
  
#banner { 
    position: relative;
    background-repeat: no-repeat;
    border-top:  5px solid #2F70A6;
    border-bottom: 5px solid #8ABAC7;
}
.team_photo {
  object-fit: contain;
  filter: grayscale(0.8) blur(3.5px);
  width: 100%;
   border-bottom: 5px solid #8ABAC7;
  
}
.logo {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
  transform-origin: 40% 50%;
  filter: brightness(105%);
  transition: transform 1s linear;
}
.logo:hover {
  transform: translate(-50%, -50%) rotate(720deg) scale(1.25);
}
.title {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 54px;
  color: #2F70A6;

  font-family: "Teachers", sans-serif;
  font-optical-sizing: auto;

  font-weight: 800;
}

.slide-in {
  transform: translateX(0) !important;
  opacity: 1 !important;
}